@using TravelApp.WebAPIs
@{
    Layout = "";
}

@*kept the javascript code only for reference, not used*@
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
var getParams = function (url) {
	var params = {};
	var parser = document.createElement('a');
	parser.href = url;
	var query = parser.search.substring(1);
	var vars = query.split('&');
	for (var i = 0; i < vars.length; i++) {
		var pair = vars[i].split('=');
		params[pair[0]] = decodeURIComponent(pair[1]);
	}
	return params;
};

function GetImagesImageEndpoint(containername, albumname) {

    var params = JSON.stringify({
                'id' : '1',
                 'albumname': albumname,
                 'conatinername':containername,
               });

            $.ajax({
                url: '/Image/Images'+ '?id=1' + '&containername=' + containername + '&albumname='+ albumname,
                type: "GET",
                contentType: "application/json; charset=utf-8", // Not to set any content header
                dataType: "json",
                //processData: false, // Not to process data
                data: params,
                success: function (result) {
                   alert("Refresh Successful");
                },
                error: function (err) {
                   //alert(err.statusText);
                }
            });
    }

$(document).ready(function(){
    $('#btnUpload').click(function () {

        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {

            var fileUpload = $("#FileUpload1").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            var params = getParams(window.location.href);
            fileData.append('containername', params['containername']);
            fileData.append('lastimageindex', params['lastimageindex']);
            fileData.append('albumname', params['albumname']);

            $.ajax({
                url: '/Image/Upload1',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                   alert(result);
                   //GetImagesImageEndpoint(params['containername'], params['albumname']);
                    document.location.reload();
                },
                error: function (err) {
                   alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });
});
</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.albumName</title>
</head>
<body>
    <h1>
        @ViewBag.albumName
    </h1>

    @*<div>
        @using (Html.BeginForm("Upload", "Image", new { containerName = "testc"}, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <span>Select File:</span>
            <input type="file" name="postedFiles" multiple="multiple" />
            <input type="submit" value="Upload" />
            <br />
            <span style="color:green">@Html.Raw(ViewBag.UploadMessage)</span>
            <span style="color:green">@Html.Raw(ViewBag.UploadFailureMessage)</span>
            <hr />
        }
    </div>*@
    <div>
        <br />
        <input type="file" id="FileUpload1" multiple="multiple" />
        <input type="button" id="btnUpload" value="Upload Files" /> 
        <hr />
    </div>
    <br />
    <br />
    <span style="display:block">
        @if (ViewBag.imageUrls != null && ViewBag.imageUrls.Count != 0)
        {
            foreach (var item in ViewBag.imageUrls)
            {
                <img src="@item" height="400" width="400">
            }
        }
        else
        {
                @ViewBag.message
        }

    </span>
</body>

</html>
